.main {
    -fx-text-fill: #E4F1FE;
    -fx-background-color: #22313F;
}
GridPane,
TableView {
    -fx-background-color: #22313F;
}

SplitPane, .divider,
.split-pane *.split-pane-divider {
    -fx-background-color:transparent;
}
.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

ScrollPane,
.scroll-bar:horizontal,
.scroll-bar:vertical,
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track
{
    -fx-background-color:transparent;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb,
.scroll-bar:vertical .thumb:hover,
.scroll-bar:vertical .thumb:pressed{
    -fx-background-color: #336E7B;
    -fx-background-radius: 5em;
}
.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.scroll-pane:focused {
    -fx-background-insets: 0;
}
.scroll-pane .corner {
    -fx-background-insets: 0;
}


GridPane,
Label {
    -fx-text-fill: #81CFE0;
}

TableView,
TableColumn {
    -fx-text-fill: #000000;
}

Button {
    -fx-text-fill: #C5EFF7;
    -fx-background-color: #336E7B;
    -fx-border-radius: 1
}

.navigationPane {
    -fx-background-color: #34495E;
}